{{ template "base/header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>

<aside id="meta">
    <div>
    <section>
      <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
    </section>
    <ul id="tags">
      {{ range .Params.tags }}
        <li> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    </div>
    <div>
        {{ if .Prev }}
          <a class="previous" href="{{.Prev.Permalink}}">Previous:: {{.Prev.Title}}</a>
        {{ end }}
    </div>
    <div>
        {{ if .Next }}
          <a class="next" href="{{.Next.Permalink}}">Next:: {{.Next.Title}}</a>
        {{ end }}
    </div>
</aside>

{{ template "base/footer.html" . }}
